/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho */
header {
    background: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

/* Navegação */
nav {
    background-color: #0056b3;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container de cálculo */
.container, .sobre {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    margin: 15px 0;
}

h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
}

/* Formulário de entrada */
label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-clear {
    background: #dc3545;
}

.btn-calculate {
    background: #28a745;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}

.alerta {
    color: #ff0000;
    font-weight: bold;
}

/* Rodapé */
footer {
    background: #007BFF;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

footer p {
    font-size: 12px;
}

footer p a {
    color: #FFD700; /* Amarelo dourado */
    text-decoration: none
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    header h1 {
        font-size: 20px;
    }

    .container, .sobre {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    header h1{
        font-size: 18px;
    }

    .container, .sobre {
        padding: 15px;
        max-width: 100%;
    }

    h2 {
        font-size: 18px;
    }

    label, input, button {
        font-size: 14px;
    }
}